<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="all-games">
      <ion-icon name="list"></ion-icon>
      <ion-label>All Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="current-game">
      <ion-icon name="logo-game-controller-a"></ion-icon>
      <ion-label>Current Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="your-decks">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Your Decks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
