<ion-header>
  <ion-toolbar>
    <ion-title>All Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='fetchGames()'>Refresh games</ion-button>
  <ion-button (click)='login()'>Set Username</ion-button>
  <ul class="games-list">
    <li class="game-item" *ngFor="let game of games">
      <!-- <img class="lock-icon" src="../assets/lock-icon.svg"/> -->
      <span class="lock-icon open">
        <ion-icon name="lock"></ion-icon>
      </span>
      {{game.title}}
      {{game.maxPlayers}}
      <button class="join-btn" (click)="joinGame(game)">
        <ion-icon name="arrow-round-forward" *ngIf="!game.joinable"></ion-icon>
      </button>
    </li>
  </ul>
</ion-content>
